main {
    position: relative;
}

.imgOutside {
    position: absolute;
    top: 0%;
    left: calc(20vw - 60px);
    width: 60px;
    height: 90%;
    transform-origin: center;
    object-fit: contain;
}
.contentP1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statusPengajuan{
    display: none;
    justify-content: center;
    gap: 20px;
    background-color: var(--white);
    border-radius: 10px;
    max-width: max-content;
    padding: 10px;
    margin-bottom: 10px;
}
.statusPengajuan > div{
    position: relative;
}
.statusPengajuan > div p{
    color: #999999;
    padding: 10px !important;
    border-radius: 5px;
    border: 1px solid #999999;
    cursor: pointer;
}
.statusPengajuan > div span{
    position: absolute;
    display: block;
    left: 0;
    color: var(--white);
    z-index: 20;
    background-color: var(--Blue);
    margin-top: 10px;
    min-width: 180px;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    box-shadow: 5px 5px 10px #00000054;
}
.statusPengajuan > div > p:hover + span{
    opacity: 1;
    visibility: visible;
} 
.statusPengajuan > div span::before{
    content: " ";
    position: absolute;
    top: -20px;
    left: 45px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--Blue);
    z-index: -1;
}
.statusActive{
    font-weight: 700;
    border-width: 3px !important;
    border-color: var(--Blue) !important;
    color: var(--Blue) !important;
    box-shadow: 3px 3px 3px #00000054;
}
.imgOutside2 {
    position: absolute;
    top: 0%;
    right: calc(20vw - 60px);
    width: 60px;
    height: 90%;
    transform: rotateY(180deg);
    transform-origin: center;
    object-fit: contain;
}

.divAlamat {
    min-width: 100%;
    position: relative;
}

.containerP1 {
    padding: 25px 0;
    background: var(--Blue) url('../images/petaIndo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    text-align: center;
    min-height: 400px;
}

.content h1 {
    font-size: 32px;
    font-weight: 900;
}

.content p {
    padding: 0 20vw;
}

.containerP2 {
    margin-top: -260px;
}

.contentP2 {
    display: flex;
    justify-content: center !important;
    gap: 20px;
    align-items: start;
}

.contentImgP2 {
    width: max-content;
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #0000001e;
}

.contentImgP2 img {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    object-fit: contain;
}

.contentFormP2 {
    width: 60%;
    background-color: var(--white);
    padding: 0px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001e;
    position: relative;
    z-index: 10;
}

.contentFormP2 h1 {
    font-weight: normal;
    font-size: 20px;
    background-color: var(--Blue);
    text-align: center;
    color: var(--white);
    padding: 10px;
    margin: 20px -20px 10px;
}

.divDocxP2{
    position: relative;
}
.divDocxP2 > p{
    position: absolute;
    top: 30px;
    left: 80px;
    padding: 0 !important;
    color: var(--Blue) ;
    background-color: var(--white);
    width: calc(100% - 100px);
    cursor: default;
}

.cardFormp2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.cardFormp2>div {
    width: calc(50% - 20px);
}

label {
    display: block;
    margin-top: 10px;
}

.itemAlamat {
    display: flex;
    align-items: center;
    gap: 10px;
}

.itemAlamat>i {
    background-color: var(--Blue);
    font-size: 20px;
    border-radius: 100px;
    color: var(--white);
}

.itemAlamat>i:hover+.helpAlamat {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.helpAlamat:hover {
    visibility: visible;
    opacity: 1;
}

.helpAlamat {
    position: absolute;
    left: 80px;
    width: 75%;
    background-color: var(--Blue);
    color: var(--white);
    padding: 10px !important;
    border-radius: 0 30px 30px 30px;
    top: 20px;
    box-shadow: 0px 5px 5px #0000004e;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

input, select, textarea {
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid var(--Blue);
    transition: all 0.5s;
}

input:focus, select:focus, textarea:focus {
    scale: 1.05;
    outline: none;
    box-shadow: inset 0px 0px 5px var(--Blue), 2px 2px 3px 2px #0000003a;
}

textarea {
    display: block;
    padding-top: 10px;
    min-width: 100%;
    max-width: 100%;
    height: 100px;
}

.cardDocx input {
    padding: 10px;
    color: var(--Blue);

}

.btnP2 {
    margin-top: 20px;
}

.btnP2>button:hover {
    background-color: var(--Blue);
    color: var(--white);
}

.btnP2>button {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
    border: none;
    color: var(--Blue);
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    outline: 2px solid var(--Blue);
    background-color: #009BF41e;
    transition: all 0.5s;
}

@media screen and (max-width: 1024px) {
    .contentFormP2 {
        width: 90%;
    }

    .imgOutside {
        left: calc(10vw - 60px);
    }

    .imgOutside2 {
        right: calc(10vw - 60px);

    }
}

@media screen and (max-width: 700px) {
    .contentFormP2 {
        width: 100%;
    }

    .imgOutside {
        left: calc(10vw - 50px);
    }

    .imgOutside2 {
        right: calc(10vw - 50px);

    }

    .cardFormp2 {
        flex-direction: column;
        gap: 0;
    }

    .cardFormp2>div {
        width: 100%;
    }

    .content p {
        padding: 0;
    }

    .content h1 {
        font-size: 25px;
    }
}