body {
    --Blue: #009BF4;
    --white: #ffffff;
    --black: #424242;
    --darkModeColorW: #ffffff;
    --darkModeColorB: #424242;
    --colorPalceholder: #8f8f8f;
    --brightness: brightness(100%);
}

.bodyDarkmode {
    --darkModeColorW: #1c364f;
    --darkModeColorB: #ffffff;
    --colorPalceholder: #ffffff;
    --brightness: brightness(50%);
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    background-color: var(--Blue);
    border-radius: 5px;
}

a {
    display: inline-block;
}

body {
    position: relative;
    margin-bottom: auto;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
    overflow-x: hidden;
    color: var(--black);
    background-color: var(--darkModeColorW);
    transition: all 0.5s ease-in-out;
}
main{
    min-height:inherit;
}
.container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding: 0.5rem 0;
}

.content {
    max-width: 1400px;
    width: 80vw;
}

/* navbar */
.site-header {
    position: sticky;
    top: 0;
    background-color: var(--darkModeColorW);
    z-index: 10000;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    align-items: center;
    padding: 0px !important;
    max-height: inherit;
    height: 60px;
    gap: 20px;
}

.nav-card {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
    max-height: inherit;
}

.nav-card>div {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
    max-height: inherit;
}

.nav-card li a {
    text-decoration: none;
    color: var(--Blue);
    display: inline-block;
    padding: 10px 0px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.showHideNav>a:hover, .showHideNav>div:hover>a {
    border-bottom: 2px solid var(--Blue);
}

.logo-web {
    font-size: 2rem;
    font-weight: 900 !important;
    color: var(--Blue);
}

.nav-card li form {
    position: relative;
    padding: 0;
}


.container-drop {
    position: relative;
    cursor: pointer;
}

.content-drop {
    position: absolute;
    list-style-type: none;
    left: 0;
    top: 0;
    padding-top: 40px;
    margin-top: 10px;
    text-wrap: nowrap;
}

.container-drop li a {
    display: flex;
    align-items: center;
    padding: 10px;
}

.container-drop li a:hover {
    background-color: #478CCF33;
}

.container-drop li a i {
    font-size: 2.2rem;
    border-right: 1px solid var(--Blue);
    margin-right: 10px;
    padding-right: 10px;
}

.dashboardNav {
    display: none;
}

.container-drop span {
    display: flex;
    align-items: center;
}

.container-drop div {
    overflow: hidden;
    width: 0;
    border-radius: 10px;
    height: 0;
    transition: all 0.5s ease;
    background-color: var(--darkModeColorW);
    border: 0px solid var(--Blue);
    opacity: 0;
    transform: translateY(-50px);
}

.container-drop:hover div {
    opacity: 1;
    width: 100%;
    height: 100%;
    border: 1px solid var(--Blue);
    transform: translateY(0px);
}


.nav-login {
    border: 1px solid var(--Blue);
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.nav-regis {
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 5px;
    background-color: var(--Blue);
    color: var(--darkModeColorW) !important;
    transition: all 0.5s ease;
}

.nav-login:hover {
    background-color: var(--Blue);
    color: var(--darkModeColorW);
}

.nav-regis:hover {
    background-color: #03649d;
}

.onLogin {
    display: none;
}

.nav-iconUser {
    font-size: 40px;
    color: var(--Blue);
}

#iconNavResponsif {
    display: none;
}

.nav-dropUser {
    transform: translateX(-150px);
    visibility: hidden;
    top: 20px;
}

.container-drop2:hover .nav-dropUser {
    visibility: visible;
}

.nav-dropUser>div {
    padding: 10px 20px !important;
    border-color: var(--Blue) !important;
}

.nav-dropUser>div>li p {
    color: var(--Blue);
    padding: 5px;
}

.nav-dropUser>div .li-dropUser {
    border-bottom: 1px solid var(--Blue);
    padding: 10px;
}

.li-dropUserLast a {
    color: #a52a2a !important;
}

.nav-notif {
    font-size: 30px;
}

.nav-dropNotif {
    transform: translateX(-90%);
    text-wrap: wrap;
}

#dropDown3 div {
    transform: translateY(0px);
}

.nav-dropNotif>div {
    width: 500px !important;
    height: max-content !important;
    border: unset !important;
    background-color: var(--Blue);
    box-shadow: 0px 5px 20px #4242423e;
}

.nav-dropNotif div {
    width: 100%;
}

#divNotif, #divNotif>div>div {
    border: none !important;
}

#divNotif>div {
    padding: 5px 20px;
}

#divNotif>div>div {
    display: flex;
    align-items: center;
}

#divNotif>div>div>h4 {
    font-size: 1rem;
}

#divNotif>div>p {
    font-size: 1rem;
}

#divNotif>div>div>p {
    font-size: 0.8rem;
}

#divNotif>div>div>h4 {
    color: var(--darkModeColorB);
}

.titleNotif {
    color: var(--darkModeColorW) !important;
    border-bottom: 2px dashed var(--darkModeColorW);
    margin-bottom: 10px;
}

#divNotif {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--Blue);
}

#divNotif>div>div>p {
    text-wrap: nowrap;
    color: var(--lightBlue);
}

#divNavResponsif {
    margin-left: 40px;
}

footer {
    display: flex !important;
    justify-content: center;
    padding: 20px;
    border-top: 2px solid var(--Blue);
}

@media screen and (max-width: 1136px) {
    #divNavResponsif {
        left: 0;
        margin: 0;
        flex-direction: column;
        align-items: stretch;
        background-color: var(--darkModeColorW);
        padding: 20px;
        min-width: 200px;
        position: absolute;
        top: 60px;
        box-shadow: 0px 5px 5px #4242423e;
        border-radius: 10px;
    }

    #iconNavResponsif {
        display: inline-block;
        font-size: 30px;
        cursor: pointer;
        color: var(--darkModeColorW);
        background-color: var(--Blue);
        padding: 5px;
        border-radius: 5px;
    }

    .content {
        width: 90vw;
    }
}

@media screen and (max-width:600px) {
    .logo-web {
        font-size: 1.5rem;
    }

    .nav-content {
        gap: 5px;
    }

    .nav-card {
        gap: 5px;
    }

    .nav-card>div {
        gap: 0px;
    }

    #iconNavResponsif {
        font-size: 25px;
    }

    #textDarkmode {
        font-size: 0px;
    }

    .content {
        width: 100vw;
        padding: 0px 10px;
    }

    .nav-login, .nav-regis {
        padding: 10px !important;
        font-size: 0.8rem;
        font-weight: 700;
    }

    #drop span>i:nth-of-type(1) {
        font-size: 30px;
    }

    #dropDown3 a span i {
        font-size: 25px;
    }

    .nav-dropNotif>div {
        width: 300px !important;
        border: unset !important;
        background-color: var(--Blue);
    }

    .content {
        width: 95vw;
    }
}